.container {
  margin-top: 5%;
}

.textColor {
  color: black;
  font-size: xx-large;
}

.location-icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 5px;
  transform: rotate(45deg);
  margin-top: -32px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-gray {
  background-image: url("../Assets/bg-image.jpg");
  padding: 20px;
  text-align: center;
  margin-top: 26px;
}

h2 {
  margin-top: inherit;
}

.last_item_content {
  background: rgba(254, 64, 91, 0.79);
  padding-top: 53px;
  padding-bottom: 35px;
  color: #ffffff;
  text-align: center;
  padding-left: 90px;
  padding-right: 80px;
}

.last_subtitle {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}

.last_percent {
  font-size: 160px;
  font-weight: 100;
  line-height: 0.75;
  text-align: left;
  margin: 14px 0 0 56px;
}

.last_title {
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  line-height: 1.1;
  margin: 14px 0 0 56px;
}

.last_text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 2.14;
  margin: 14px 0 0 37px;
}

.last_button {
  margin-top: 37px;
}

.button {
  display: inline-block;
  width: 161px;
  height: 56px;
  background: #131a2f;
}

.button a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 56px;
  text-decoration: none;
}

.last_logo {
  position: absolute;
  z-index: 1000;
  left: 20px;
  margin: -77px 0 0 0;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 24px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  padding: 20px;
}
.img {
  height: 260px;
  width: 100%;
}

.sectionGray {
  background-image: url("../Assets/newsletter.jpg.webp");
  padding: 20px;
  text-align: center;
  margin-top: 26px;
}

.newsInfo{
  color: antiquewhite;
}

.newsletterInfo{
  /* margin: 50px; */
  background: transparent;
  /* border: solid purple; */
  height: 56px;
  width: 70%;
  color: white;
  border: solid 2px rgba(255, 255, 255, 0.5);
  padding: 31px;
  margin-top: 48px;
}

.newsletter_button {
  width: 161px;
  height: 66px;
  vertical-align: top;
  cursor: pointer;
  border: none;
  outline: none;
  background: #fe364a;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  transition: all 200ms ease;
  margin: 46px 20px;
}