.container{
    margin-top: 5%;
}

.textColor{
    color: black;
    font-size: xx-large;
}

.location-icon {
    font-size: 1.5rem; 
    vertical-align: middle; 
    margin-left: 5px;
    transform: rotate(45deg);
    margin-top: -32px 
  }